<%- include('partials/header') %>
<%- include('partials/navbar') %>


<!-- Modal for viewing User details-->
<div class="modal fade" id="user-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="card">
                <div class="card-body">
                    <div class="card-title mb-2">
                        <div class="d-flex justify-content-start ml-0 mb-3 align-items-center">
                            <div class="col-3">
                                <img src="/images/user-default.svg" alt="user-default-img">
                            </div>
                            <div class="col-9">
                                <div class="row">
                                    <div class="row">
                                        <div class="col-12">
                                            <h2 id="modal-user-fullname" style="color:#0f52BA;">
                                                Full-Name
                                                here
                                            </h2>
                                        </div>
                                        <div class="col-12">
                                            <h5 class="btn btn-secondary btn-sm btn-block my-0 ml-1"
                                                id="modal-user-role">
                                                Role Here</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="ml-auto">
                                <input type="button" class="btn btn-primary d-none" id="btnDiscard"
                                    value="Discard Changes" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#">Basic
                                        Info</a>
                                </li>
                            </ul>
                            <div class="tab-content ml-1" id="myTabContent">
                                <div class="tab-pane fade show active" role="tabpanel">
                                    <div class="row">
                                        <div class="col-sm-3 col-md-3 col-3">
                                            <label class="modal-label">Address:</label>
                                        </div>
                                        <!-- PENDING: ADD ADDRESS! __________________________________________________________________________+++++++++++++++++++-->
                                        <div class="col-sm-9 col-md-9 col-9 text-left pl-5">
                                            Impel Down
                                        </div>
                                    </div>
                                    <hr />

                                    <div class="row">
                                        <div class="col-sm-3 col-md-3 col-3">
                                            <label class="modal-label">E-mail:</label>
                                        </div>
                                        <div class="col-sm-9 col-md-9 col-9 text-left pl-5" id="modal-user-email">
                                            March 22, 1994.
                                        </div>
                                    </div>
                                    <hr />


                                    <div class="row">
                                        <div class="col-sm-3 col-md-3 col-3">
                                            <label class="modal-label">Phone:</label>
                                        </div>
                                        <div class="col-sm-9 col-md-9 col-9 text-left pl-5" id="modal-user-phone">
                                            09065279640
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="table-users" style="padding-top: 50px; margin: 0 10vw">

    <!-- Bootstrap Alert for Successfully Adding/Editing/Deleting User -->
    <% if (message.length > 0) { %>
    <div class="row btn-block">
        <div class="alert alert-success alert-dismissible">
            <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <ul class="my-2">
                <% message.forEach(item => { %>
                <li><%= item.msg %></li>
                <%}) %>
            </ul>
        </div>
    </div>
    <% } %>


    <!-- Display Users that are fetched from MongoDB "userDB" db.users collection -->
    <div class="row align-items-center ml-0 mr-0">
        <% if (users !== null && users.length > 0) { %>
        <h2>Users</h2>
        <% } %>
        <button class="btn btn-info ml-auto m-0" onclick="window.location.href='users/add-user'">Add New
            User</button>
    </div>


    <!-- _____________ Table : Display only if there are user data returned _____________-->
    <% if (users !== null && users.length > 0) { %>
    <table class="table table-sm table-hover mt-4" id="users-table">
        <thead>
            <tr>
                <th scope="col" style="width: 5vw;">Email</th>
                <th scope="col" class="text-center">Name</th>
                <th scope="col" class="text-center">Role</th>
                <th scope="col" class="text-center">View</th>
                <th scope="col" class="text-center">Update</th>
                <th scope="col" class="text-center">Delete</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop Over returned array of Users from database -->
            <% users.forEach(user => { %>

            <!-- To be sent to modal. Stringify first -->
            <% let userJSON = JSON.stringify(user) %>
            <tr>
                <th scope="row">
                    <div class="row">
                        <div class="col-3">
                            <img class="user-default-img" src="/images/user-default.svg" alt="">
                        </div>
                        <div class="col-9 pl-0 text-left">
                            <%= user.email %>
                        </div>
                    </div>
                </th>
                <td class="text-center"><%= user.firstname %>&nbsp<%= user.lastname %></td>
                <td class="text-center"><%= user.role %></td>
                <td class="text-center"><a href="#" data-val="<%= userJSON %>" data-toggle="modal"
                        data-target="#user-modal"><img id="view-icon" src="/images/view.svg" alt="view-img"></a></td>

                <td class="text-center"><a href="/admin/users/edit-user/<%= user._id %>"><img id="edit-icon"
                            src="/images/edit.svg" alt="edit-img"></a></td>

                <td class="text-center btn-delete-user"><a href="/admin/users/delete-user/<%= user._id %>"><img
                            id="trash-icon" src="/images/trash.svg" alt="trash-img"></a></td>
            </tr>
            <% }) %>
        </tbody>
    </table>

    <% } else { %>

    <!-- Display Text when there are currently no available users to display -->
    <div class="row text-center mt-4 pt-4">
        <h2>There are currently no users.</h2>
    </div>
    <% } %>
</div>

<script>
    $(".btn-delete-user").on('click', () => {
        if (confirm("Delete user?")) {
            return true;
        } else {
            return false;
        }
    });
</script>


<!-- When modal shows, substitute .text values inside using userObj attributes -->
<script>
    $('#user-modal').on('show.bs.modal', function (event) {
        let userObj = $(event.relatedTarget).data('val');
        let fullName = userObj.firstname + " " + userObj.lastname;


        $(this).find("#modal-user-fullname").text(fullName);
        $(this).find("#modal-user-role").text(userObj.role);
        $(this).find("#modal-user-phone").text(userObj.phone);
        $(this).find("#modal-user-email").text(userObj.email);

        if (userObj.role === "Admin") {
            $("#modal-user-role").removeClass('btn-secondary').addClass('btn-success');
        } else if (userObj.role === "Trainee") {
            $("#modal-user-role").removeClass('btn-success').addClass('btn-secondary');
        }

    });
</script>
<%- include('partials/footer') %>